<% provide(:title, 'Top Dares Lost') %>
<h1>Top Dares Lost</h1>
<p>        |  <%= link_to "Rank", users_rank_path %>  |
              <%= link_to "Points", users_points_path %> |     
                      <%= link_to "Dares Won", users_dares_path %>  |    
                    <%= link_to "Dares Lost", users_lostest_path %>  |     
          <%= link_to "Dares Issued", users_issued_path %>     </p>

<ol class="users">
  <% @users.each do |user| %>
    <%= render user %>
    <%= will_paginate %>
  <% end %>
  
</ol>